@charset "utf-8";
/* CSS Document */

/* common CSS definitions */
div.tx-cgswigmore-pi1-DIV-box {
	background-color: #FFFFFF;
	width: 100%;
}

div.tx-cgswigmore-pi1-DIV-box h1 span {
	font-size: 14px;
}

div.tx-cgswigmore-pi1-DIV-border-box {
	background-color: #FFFFFF;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	width: 100%;
}

div.tx-cgswigmore-pi1-DIV-inner-box {
	margin-left: 5px;
	padding-bottom: 5px;
}

.tx-cgswigmore-pi1-ALL-clear {
	clear: both;
}

/* section.html */
span.tx-cgswigmore-pi1-SPAN-section-photo {
	float: right;
	padding-top: 4px;
	padding-right: 2px;
}

span.tx-cgswigmore-pi1-SPAN-section-title {
	/* CSS style */
}

span.tx-cgswigmore-pi1-SPAN-section-leaders {
	font-size: 10px;
}

div.tx-cgswigmore-pi1-DIV-menu {
	padding-bottom: 5px;
}

ul.tx-cgswigmore-pi1-UL-menu li {
	float:left;	
	list-style-type:disc;
	padding-right: 30px;
}

/* staff.html */
li.tx-cgswigmore-pi1-LI-phone {
	list-style-image: url(../img/phone.gif); 
}

li.tx-cgswigmore-pi1-LI-mobile {
	list-style-image: url(../img/phone.gif); 
}

li.tx-cgswigmore-pi1-LI-fax {
	list-style-image: url(../img/fax.gif); 
}

li.tx-cgswigmore-pi1-LI-mail {
	list-style-image: url(../img/mail.gif);
}

/* publication.html */
p.tx-cgswigmore-pi1-P-publication-line {
	margin-top: -10px;
}
