@charset "utf-8";
/* CSS Document */

/* 
	publications.tmpl:###TEMPLATE### & ###TEMPLATEWITHOUTPUBMEDLINK### 
	sectionlist.tmpl:###TEMPLATE###[###SECT_DETAIL_PUBLICATIONS###]
	begin 
*/

p.tx-cgswigmore-pi1-P-leaders {
	margin-top:-10px;
	font-size:10px
}

p.tx-cgswigmore-pi1-P-pubitem {
	font-weight:bold;
	margin: 0px 0 15px 0;
	padding: 0;
}

p.tx-cgswigmore-pi1-P-pubitem a {
	color:#000000;
	font-weight:bold; 
	background-color:inherit;
}

p.tx-cgswigmore-pi1-P-title {
	margin-top:-12px;
	font-weight:bold;
}

p.tx-cgswigmore-pi1-P-title a {
	color:#000000;
	background-color:inherit;
}

p.tx-cgswigmore-pi1-P-author {
	margin: 0 0 5px 0;
	padding: 0;
	color:#333333;
 	font-size: 12px;
	margin-top:-14px;
	font-size:11px;
}

p.tx-cgswigmore-pi1-P-journal {
	margin-top:-2px;
	font-size:10px;
}

/* 
	publications.tmpl:###TEMPLATE### & ###TEMPLATEWITHOUTPUBMEDLINK### 
	sectionlist.tmpl:###TEMPLATE###[###SECT_DETAIL_PUBLICATIONS###]
	end
*/




/* 
	staff.tmpl:###TEMPLATE### 
	sectionlist.tmpl:###TEMPLATE###[###SECT_DETAIL_STAFF###]
	begin 
*/

ul li.tx-cgswigmore-pi1-LI-person a {
	color:#000000;
}

/* 
	staff.tmpl:###TEMPLATE### 
	sectionlist.tmpl:###TEMPLATE###[###SECT_DETAIL_STAFF###]
	end 
*/



/* 
	sectionlist.tmpl:###TEMPLATE###
	staff.tmpl:###TEMPLATEDETAIL###
	begin 
*/
div.tx-cgswigmore-pi1-DIV-box {
	background-color:#CCCCCC;
	color:inherit;
	padding: 5px 10px 10px 10px;
	float:left;
	width:878px;
	margin-bottom:10px;
	border:#999999 solid 1px;
}

a.tx-cgswigmore-pi1-A-pn {
	font-weight:bold;
}

div.tx-cgswigmore-pi1-DIV-box a.tx-cgswigmore-pi1-H1-link {
	color:	#3A67A2;
}

div.tx-cgswigmore-pi1-DIV-box p.tx-cgswigmore-pi1-P-title {
	padding-top: -5px;
	color: inherit;
	font-weight: bold;
}

div.tx-cgswigmore-pi1-DIV-image {
	float: right;
	border-left: 1px solid #999;
}

/* 
	sectionlist.tmpl:###TEMPLATE###
	staff.tmpl:###TEMPLATEDETAIL###
	end
*/

/* sectionlist.tmpl:###TEMPLATEDETAIL### begin */
div.tx-cgswigmore-pi1-DIV-detail {

}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu {
	background-color:#CCCCCC;
	color:inherit;
	padding: 5px 10px 5px 10px;
	float:left;
	width:120px;
	margin-bottom:10px;
	border:#999999 solid 1px;
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-box2 {
	background-color:#CCCCCC;
	color:inherit;
	padding: 5px 10px 5px 10px;
	margin-bottom:10px;
	border:#999999 solid 1px;
	float:right;
	width: 727px;
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu li {
	margin-left:-15px;
	font-size:11px;
	text-align:left;
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu a.tx-cgswigmore-pi1-A-active{
	background-color:inherit;
	color:#000000;
	font-weight:bold;
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu a#tx-cgswigmore-pi1-A-none {
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu a{
	color:#000000;
	background-color:inherit;
	text-decoration:none;
}

div.tx-cgswigmore-pi1-DIV-detail div.tx-cgswigmore-pi1-DIV-menu a:hover{
	text-decoration:underline;
}

/* sectionlist.tmpl:###TEMPLATEDETAIL### begin */

/* staff.tmpl:###TEMPLATEDETAIL### begin */

h1.tx-cgswigmore-pi1-H1-title {
	font-weight:bold;
}

p.tx-cgswigmore-pi1-P-numbers {
	padding-top:5px;
	margin-top: -10px;
	font-size:11px;
}

ul.tx-cgswigmore-pi1-UL-detail {
	font-size:11px;
}

ul.tx-cgswigmore-pi1-UL-detail li {
	margin-top:-5px;
}

ul.tx-cgswigmore-pi1-UL-detail  li.tx-cgswigmore-pi1-LI-phone {
	list-style-image: url(../img/phone.gif); 
}

ul.tx-cgswigmore-pi1-UL-detail  li.tx-cgswigmore-pi1-LI-mobile {
	list-style-image: url(../img/phone.gif); 
}

ul.tx-cgswigmore-pi1-UL-detail  li.tx-cgswigmore-pi1-LI-fax {
	list-style-image: url(../img/fax.gif); 
}

ul.tx-cgswigmore-pi1-UL-detail  li.tx-cgswigmore-pi1-LI-mail {
	list-style-image: url(../img/mail.gif); 
}

p.tx-cgswigmore-pi1-P-description {
}

/* staff.tmpl:###TEMPLATEDETAIL### end */

/* jobs.tmpl:###TEMPLATE### begin */

h1.tx-cgswigmore-pi1-h1-jobtitle {
    margin: 0px 0 5px 0;
	padding-top:3px;
	color:#3A67A2;
	font-size:17px;
	font-weight:bolder;
	background-color:inherit;
}

div.tx-cgswigmore-pi1-DIV-box-jc-list {
}

li.tx-cgswigmore-pi1-LI-bullet {
	list-style-image: url(../img/bullet.png);
}

/* jobs.tmpl:###TEMPLATE### end */

/* location.tmpl:###TEMPLATE begin */
div.tx-cgswigmore-pi1-DIV-left {
	float:left;
	width: 210px;
}

div.tx-cgswigmore-pi1-DIV-right {
}

div.tx-cgswigmore-pi1-DIV-clear {
	padding-top: 10px;
	clear:both;
}

div.tx-cgswigmore-pi1-DIV-move {
	padding-left:190px;
}

/* location.tmpl:###TEMPLATE end */
