Template markers:
TEMPLATE
SEC_ITEM

Text markers:
###SECT_IMAGE###
###SECT_LINK###
###SECT_SECTION###
###SECT_TITLE###
###SECT_LEADER1###
###SECT_LEADER2###

<!-- ###TEMPLATE### begin -->

	<!-- ###SEC_ITEM### begin -->
		<div class="right" onmouseout="this.style.backgroundColor='#CCCCCC';" onmouseover="this.style.backgroundColor='#eaeaea';">
			<div class="tx-cgswigmore-pi1-DIV-image">
				###SECT_IMAGE###
			</div>
			
			<h1>
				<a class="tx-cgswigmore-pi1-H1-link" href="###SECT_LINK###">
					###SECT_SECTION###
				</a>
			</h1>
			<p class="tx-cgswigmore-pi1-P-title">
				###SECT_TITLE###
			</p>
			<p class="tx-cgswigmore-pi1-P-leaders">
				###SECT_LEADER1### / ###SECT_LEADER2###
			</p>
		</div>
	<!-- ###SEC_ITEM### end -->

<!-- ###TEMPLATE### end -->
