Template markers:
TEMPLATE
SEC_ITEM

Text markers:
###SECT_SECTION###
###SECT_LEADER1### 
###SECT_LEADER2###

<!-- ###TEMPLATE### begin -->

	<!-- ###SEC_ITEM### begin -->
		<div class="right" onmouseout="this.style.backgroundColor='#CCCCCC';" onmouseover="this.style.backgroundColor='#eaeaea';">
			<h1>
				###SECT_SECTION###
			</h1>
			<p class="tx-cgswigmore-pi1-P-leaders">
				<ul>
					<li>
						###SECT_LEADER1### (Sekretariat)
					</li>
					<li>
						###SECT_LEADER2### (EDV)
					</li>
				</ul>
			</p>
		</div>
	<!-- ###SEC_ITEM### end -->

<!-- ###TEMPLATE### end -->
